.word-color{
    color: blueviolet;
}
.name-color{
    color: rgb(119, 7, 119);
}
h3{
    font-size: 20px;
}
p{
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    color: rgb(202, 71, 97);
}
section{
    display: flex;
}
.half-width{
    
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    padding: 5%;
    width: 85%;
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(rgb(160, 197, 25),red);
    text-align: center;
    color: rgb(209, 228, 228);
    padding: 15px 45px;
    margin-top: 13%;
}
body{
    padding: 0%;
    margin: 0%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.body-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


